.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    /* background-color:rgb(41, 248, 0); */
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    line-height: 60px;
    font-size: 30px;
    color: blue;
  }
  .float:hover{
    cursor: pointer;
    background-color:rgb(0, 184, 31);
  }
  #chatbox{
    display: none;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    height: 500px;
    /* border: 2px solid gray; */
    position: fixed;
    right: 120px;  
    bottom: 0px;
    box-shadow: 0px 0px 5px gray;
    padding: 0px;
  }
  #chatbox-topbar{
    width: 100%;
    height: 50px;
    box-shadow: 0px 0px 5px gray;
    line-height: 50px;
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
  }
  #chat-input{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    height: 60px;
  }
  #message{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    padding: 10px;
  }
  #chatbox-content{
    height: 390px;
    padding: 10px;
    overflow-y: scroll;
  }
  .chatbox-t2shop{
    width: 100%;
    display: inline-block;
  }
  .chatbox-t2shop div{
    max-width: 80%;
    background-color: rgb(182, 255, 139);
    padding: 10px;
    border-radius: 20px 10px 20px 2px;
    color: black;
    font-weight: bold;
    margin: 5px;
    float: left;
  }
  .chatbox-customer{
    display: inline-block;
    width: 100%;
  }
  .chatbox-customer div{
    max-width: 80%;
    background-color: rgb(166, 160, 255);
    padding: 10px;
    border-radius: 10px 20px 2px 20px;
    color: black;
    font-weight: bold;
    margin: 5px;
    float: right;
  }