.container{
  margin-top: 10px;
}
.card{
  padding:0;
  margin: 0;
}
.list-row-sp{
  margin: 0;
  padding: 0;
}
.list-row-sp li{
  margin:0;
  padding:0;
  list-style-type: none;
  float: left;
}
.product-item{
  margin: 3px 3px 3px 3px;
  height: 300px;
}
.card-body{
  padding:25px;
}
.card-body img{
  width:100%;
}
.fa-cart-plus:hover{
  cursor: pointer;
}
.promotion{
  margin-right: -22px;
  margin-top: -26px;
  display: inline;
  float: right;
  color:white;
  font-weight: bold;
  padding:3px;
  font-size: 8px;
}
.trai{
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  float: left;
  width: 25%;
}
.phai{
  border-top: 10px solid red;
  border-left: 10px solid transparent;
  float: left;
  width: 25%;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #000000;
  opacity: 40%;
  overflow: hidden;
}
.spinner div:first-child {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
  transform: translate3d(0, 0, 0);
  animation: spin 2s linear infinite;
}
.spinner div:first-child:after,
.spinner div:first-child:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.spinner div:first-child:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.spinner div:first-child:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
  animation: spin 1.5s linear infinite;
}
