<app-sidebar></app-sidebar>
<div class="spinner" *ngIf="loading==true">
  <div class="blob blob-0"></div>
</div>
<div class="container">
  <div class="row">
    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card-body">
        <h5 class="card-title">Sản phẩm mới nhất</h5>
        <ul class="list-row-sp">
          <li *ngFor="let p of products; let i=index" class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <div class="card product-item">
              <a style="text-decoration:none;color:rgb(129, 98, 98)"[routerLink]="['products/'+p.product_id]" class="card-header">{{p.product_name}}</a>
              <div class="card-body">
                <div class="promotion" *ngIf="promotions[i].promotion_status!=2">
                  <div style="background-color: red; height:25px; line-height: 25px; text-align: center;" *ngIf="promotions[i].promotion_status!=2">{{promotions[i].promotion_infor}}%</div>
                  <div class="trai"></div>
                  <div class="phai"></div>
                </div>
                <a [routerLink]="['products/'+p.product_id]"><img src={{p.product_img}} alt=""></a>
              </div>
              <div class="card-footer">
                <i class="fas fa-money-bill" *ngIf="promotions[i].promotion_status!=2" ><span>&ensp;{{p.product_price*(100-promotions[i].promotion_infor)/100 | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></i>
                <i class="fas fa-money-bill" *ngIf="promotions[i].promotion_status==2" ><span>&ensp;{{p.product_price*(100-0)/100 | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></i>
               <i class="fas fa-cart-plus" *ngIf="promotions[i].promotion_status!=2" style="float:right" (click)="addtocart(p,promotions[i].promotion_infor)"></i>
               <i class="fas fa-cart-plus" *ngIf="promotions[i].promotion_status==2" style="float:right" (click)="addtocart(p,0)"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card-body">
        <h5 class="card-title">Sản phẩm nổi bật</h5>
        <ul class="list-row-sp">
          <li *ngFor="let p of productsFeatured ; let i=index" class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <div class="card product-item">
              <div class="card-header">{{p.product_name}}</div>
              <div class="card-body">
                <div class="promotion" *ngIf="promotions[i]['promotion_status']!=2" >
                  <div style="background-color: red; height:25px; line-height: 25px; text-align: center;"  *ngIf="promotions[i]['promotion_status']!=2" >{{promotions[i].promotion_infor}}%</div>
                  <div class="trai"></div>
                  <div class="phai"></div>
                </div>
                <a [routerLink]="['products/'+p.product_id]"><img src={{p.product_img}} alt=""></a>
              </div>
              <div class="card-footer">
                <i class="fas fa-money-bill" *ngIf="promotions[i]['promotion_status']!=2" > <span> {{p.product_price*(100-promotions[i].promotion_infor)/100 | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></i>
                <i class="fas fa-money-bill" *ngIf="promotions[i]['promotion_status']==2" > <span> {{p.product_price*(100-0)/100 | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></i>
                <!-- <i class="fas fa-dollar-sign" style="font-size: 9px; font-weight: normal; position: absolute;"> <s> {{p.product_price | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</s></i> -->
                <i class="fas fa-cart-plus" *ngIf="promotions[i]['promotion_status']!=2" style="float:right" (click)="addtocart(p,promotions[i].promotion_infor)"></i>
                <i class="fas fa-cart-plus" *ngIf="promotions[i]['promotion_status']==2" style="float:right" (click)="addtocart(p,0)"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="user_id!='' && productsrecommend.length>0">
      <div class="card-body">
        <h5 class="card-title">Sản phẩm bạn đã tìm kiếm gần đây</h5>
        <ul class="list-row-sp">
          <li *ngFor="let p of productsrecommend ; let i=index" class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-2">
            <div class="card product-item">
              <div class="card-header">{{p.product_name}}</div>
              <div class="card-body">
                <div class="promotion" *ngIf="promotions[i]['promotion_status']!=2" >
                  <div style="background-color: red; height:25px; line-height: 25px; text-align: center;"  *ngIf="promotions[i]['promotion_status']!=2" >{{promotions[i].promotion_infor}}%</div>
                  <div class="trai"></div>
                  <div class="phai"></div>
                </div>
                <a [routerLink]="['products/'+p.product_id]"><img src={{p.product_img}} alt=""></a>
              </div>
              <div class="card-footer">
                <i class="fas fa-money-bill" *ngIf="promotions[i]['promotion_status']!=2" > <span> {{p.product_price*(100-promotions[i].promotion_infor)/100 | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></i>
                <i class="fas fa-money-bill" *ngIf="promotions[i]['promotion_status']==2" > <span> {{p.product_price*(100-0)/100 | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></i>
                <i class="fas fa-cart-plus" *ngIf="promotions[i]['promotion_status']!=2" style="float:right" (click)="addtocart(p,promotions[i].promotion_infor)"></i>
                <i class="fas fa-cart-plus" *ngIf="promotions[i]['promotion_status']==2" style="float:right" (click)="addtocart(p,0)"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->

  </div>
</div>
