<div class="spinner" *ngIf="loading==true">
    <div class="blob blob-0"></div>
    <div class="wait">Vui lòng chờ trong giây lát</div>
</div>
<div class="row">
    <div class="col-md-6">
        <h5>Danh sách phiếu xuất hàng</h5>
        <button class="btn-add-admin btn btn-success"  data-toggle="modal" data-target="#beModal"><i class="fas fa-plus">Lấy hàng cần xuất</i></button>
    </div>
    <div class="col-sm-12" style="margin-top: 20px;">
        <table class="table table-striped">
            <tr id="tbl-first-row">
                <td>STT</td>
                <td>Mã PX</td>
                <td>Mã NV</td>
                <td>Tổng tiền</td>
                <td>Ngày lập phiếu</td>
                <td>Xem</td>
                <!-- <td>Sửa</td> -->
            </tr>
            <tr *ngFor="let b of bes|paginate: config; let i = index">
                <td>{{1+i+(this.config['currentPage']-1)*this.config['itemsPerPage']}}</td>
                <td>{{b.be_id}}</td>
                <td>{{b.user_id}}</td>
                <td>{{b.sum_amount | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</td>
                <td>{{b.created_at}}</td>
                <td><button data-toggle="modal" data-target="#detailModal" (click)="getAllDBEByBEID(b.be_id)"><i class="fas fa-eye"></i></button></td>
                <!-- <td><i class="fas fa-edit"></i></td> -->
            </tr>
        </table>
        <pagination-controls [nextLabel]="labelnext" [previousLabel]="labelprevious" (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>
<div class="row">
    <!-- Chi tiết phiếu nhập -->
    <div class="modal fade" id="beModal" >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm phiếu xuất</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <div id="list_product" class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" style="padding: 0px;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 0px;">
                                <form method="post" #addProduct="ngForm" >
                                    <select class="form-control form-control-sm col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" [(ngModel)]="selectedWH"  name="selectedWH" required  style="margin-right:5px; display: inline-block; padding:0px; height: 2.3rem;">
                                        <option class="form-control" *ngFor="let w of warehouses" [ngValue]="w.warehouse_id" name="selectedWH">{{w.warehouse_name }}</option>
                                    </select>
                                    <div id="search_product" class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="display: inline-block; vertical-align: top; padding:0px">
                                        <input #txtKeyword2 name="ip_s" required [(ngModel)]="ip_s" type="search" (keyup)="search($event, txtKeyword2.value)" (keyup.arrowdown)="moveDown()" (keyup.arrowup)="moveUp()" class="form-control" id="search_input" placeholder="Tìm sản phẩm trong kho" autocomplete="off">
                                        <p *ngIf="same_product" style="color: red;">Bạn đã nhập sản phẩm này rồi!</p>
                                    </div>
                                    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="display: inline-block; vertical-align: top; padding:0px; margin-left: 5px;">
                                        <input name="price_product" required [(ngModel)]="price_product" (keyup)="checkPrice()" class="form-control" placeholder="Đơn giá.." autocomplete="off" (value)="pr_sl.product_price">
                                    </div>
                                    <input [disabled]="!addProduct.valid" name="submit2" type="button" class="btn btn-success col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" value="Xác định lô nhập" style="margin-left:5px"  data-toggle="modal" data-target="#ctpx_ln_Modal" (click)="getAllBI()">
                                </form>
                            </div>
                            <div id="l-p" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 0px;" *ngIf="show_option_product">
                                <table class="table table-image">
                                    <tr *ngFor = "let p of searched_products; let i = index" [style.background-color]="(selected_entries == i) ? 'gray' : 'white'" style="padding: 0px;">
                                        <th scope="row" width="3%">{{i+1}}</th>
                                        <td width="6%" style="padding: 2px;">
                                            <img src={{p.product_img}} class="img-fluid img-thumbnail">
                                        </td>
                                        <td>{{p.product_name}}</td>
                                      </tr>
                                </table> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:15px; padding: 0px;height: 26rem; overflow-y: scroll;">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Mã hàng</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Đơn giá</th>
                                        <th scope="col">Xóa</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let d of dbes; let i =index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{d.product_id}}</td>
                                        <td>{{d.amount}}</td>
                                        <td><input [(ngModel)]="dbes[i].price" name = "dbes[{{i}}].price" type="number" value="{{d.price}}" (keyup)="changePrice(d.product_id)" (change)="cp(d.product_id)"></td>
                                        <td><a (click)="removeDBEElement(i)" [routerLink]="['#']">Xóa</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <div style="text-align:center" *ngIf="dbes.length==0||dbes.length==null"><p style="color: red;">Hãy thêm sản phẩm vào..</p></div>
                            </div>
                        </div>
                        <div id="infor" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <form method="post" #addExportForm="ngForm" >
                                <div class="form-group">
                                    <label>Người lập phiếu <i style="color: red;">(*)</i></label>
                                    <input type="text" disabled class="form-control" name="user_name" [(ngModel)]="user_name">
                                </div>
                                <div class="form-group">
                                    <label>Ngày xuất<i style="color: red;">(*)</i></label>
                                    <input type="text" disabled class="form-control" name="ngaylapphieu" [(ngModel)]="ngaylapphieu" required>
                                </div>
                                <div class="form-group">
                                    <label>Tổng tiền<i style="color: red;">(*)</i></label>
                                    <input type="text" disabled class="form-control" value="{{total_price}}" name="total_price" [(ngModel)]="total_price" required>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" [disabled]="dbes.length==0" class="btn btn-success" value="Thêm" (click)="addBE()">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Chi tiết phiếu nhập - Lô nhập -->
    <div class="modal fade" id="ctpx_ln_Modal" >
        <div class="modal-dialog modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Xác định lô nhập</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <form method="post" #addLN="ngForm" >
                            <select class="form-control form-control-sm col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5" [(ngModel)]="selectedBI"  name="selectedBI" required  style="margin-right:5px; display: inline-block; padding:0px; height: 2.3rem;">
                                <option class="form-control" *ngFor="let b of bis" [ngValue]="b.bi_id" name="selectedBI">Lô: {{b.bi_id}}</option>
                            </select>
                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="display: inline-block; vertical-align: top; padding:0px">
                                <input name="ae" required [(ngModel)]="ae" type="number" class="form-control" id="ae" placeholder="Số lượng" autocomplete="off" (keyup)="checkOutOfProduct()">
                                <p *ngIf="out_of_product" style="color: red;font-size: 11px; position: absolute;">Hàng trong kho không đủ!</p>
                            </div>
                            <input [disabled]="!addLN.valid||out_of_product" name="submit2" type="submit" class="btn btn-success col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" value="Thêm" style="margin-left:5px" (click)="addCTPX_LN()">
                        </form> 
                        <div id="list_product" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 0px;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:15px; padding: 0px;height: 20rem; overflow-y: scroll;">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Lô nhập</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Xóa</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let c of ctpx_lns; let i = index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>Lô {{c.bi_id}}</td>
                                        <td><input [(ngModel)]="ctpx_lns[i].amount" name = "ctpx_lns[{{i}}].amount" type="number" value="{{c.amount}}" (keyup)="changeAmountElement(i)" (change)="cae(i)"></td>
                                        <td><a (click)="removeElement(i)" [routerLink]="['#']">Xóa</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" [disabled]="ctpx_lns.length==0" class="btn btn-success" value="Thêm" (click)="addDBE()">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Xem chi tiết -->
    <div class="modal fade" id="detailModal" >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Xem chi tiết phiếu xuất</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:15px; padding: 0px;height: 26rem; overflow-y: scroll;">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã CTPX</th>
                                <th scope="col">Mã PX</th>
                                <th scope="col">Mã SP</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Xem</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let d of dbeshome; let i=index;">
                                <th scope="row" width="5%">{{i+1}}</th>
                                <td>{{d.dbe_id}}</td>
                                <td>{{d.be_id}}</td>
                                <td>{{d.product_id}}</td>
                                <td>{{d.amount}}</td>
                                <td>{{d.price}}</td>
                                <td><button data-toggle="modal" data-target="#see_ctpx_ln_Modal" (click)="getAllCTPXLN(d.dbe_id)"><i class="fas fa-eye"></i></button></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Xem chi tiết phiếu xuất - lô nhập -->
    <div class="modal fade" id="see_ctpx_ln_Modal" >
        <div class="modal-dialog modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Xem lô nhập</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <div id="list_product" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 0px;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:15px; padding: 0px;height: 20rem; overflow-y: scroll;">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Mã CTPX_LN</th>
                                        <th scope="col">Mã CTPX</th>
                                        <th scope="col">Mã PN</th>
                                        <th scope="col">Số lượng</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let c of see_ctpx_lns; let i = index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{c.cl_id}}</td>
                                        <td>{{c.dbe_id}}</td>
                                        <td>Lô {{c.bi_id}}</td>
                                        <td>{{c.amount}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>