<div style="width: 100%; min-height: 100vh; background-color: rgb(253, 236, 236); overflow-x: hidden;">
  <app-topbar></app-topbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <app-chatbot></app-chatbot>
  <app-promotionmax></app-promotionmax>
  <!-- <iframe height="430" width="450" src="https://bot.dialogflow.com/81d946ec-b2c8-46b4-8b73-b090a76a71c3"></iframe> -->
  <!-- <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/81d946ec-b2c8-46b4-8b73-b090a76a71c3"></iframe> -->
</div>
