<div class="container">
  <div class="row">
    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card-header" style="font-weight: bold; font-size: 18px;">Thông tin khách hàng</div>
      <div class="card-body">
        <span><b>Mã khách hàng: </b>{{user.user_id}}</span><br>
        <span><b>Tên khách hàng: </b>{{user.user_name}}</span><br>
        <span><b>Số điện thoại: </b>{{user.user_phone}}</span><br>
        <span><b>Email: </b>{{user.user_email}}</span><br>
        <span><b>Địa chỉ: </b>{{order.address}}</span><br>
        <h5 *ngIf="order.ready==0 && order.status==0">Đơn hàng này đã được tiếp nhận trong quá trình xử lý</h5>
        <div class="ship" *ngIf="ship!=null">
          <h6 *ngIf="ship.status==0">Đơn hàng đang giao</h6>
          <h6 *ngIf="ship.status==1">Đơn hàng đã giao</h6>
          <h6>Người giao hàng: {{shipper.shipper_name}}</h6>
          <h6>SĐT: +84{{shipper.shipper_phone}}</h6>
        </div>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:20px">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th>Tên sản phẩm</th>
              <th>Hình đại diện</th>
              <th>Giá</th>
              <th>KM</th>
              <th>Số lượng</th>
              <th>Thành tiền</th>
              <!-- <th>Lựa chọn</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let o of orderitems; let i = index'>
              <th scope="row">{{i}}</th>
              <th>{{o.product_name}}</th>
              <th><img src="{{o.product_img}}" width="100px" alt=""></th>
              <th>{{o.product_price | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</th>
              <th>{{o.product_promotion}}%</th>
              <th>{{o.product_amount}}</th>
              <th>{{o.product_price*(100-o.product_promotion)/100 | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</th>
              <!-- <th><a [routerLink]="['detail']">Xem chi tiết</a>/<a [routerLink]="['']"> Xóa</a></th> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group">
        <h4 class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Tổng tiền của đơn hàng này là: {{order.total | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</h4>
        <a class="btn-back col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" (click)="quayve()"><b style="float: right;">Quay về</b></a>
      </div>
    </div>
  </div>
</div>
