<div class="lucky_box">
    <img src="./assets/box-empty-icon.png" alt="" (click)="open()">
    <input  *ngIf="this.products&&this.products!=null && message==true" type="text" disabled class="form-controll"  placeholder="Các sản phẩm được khuyến mãi hấp dẫn"  (click)="open()" >
</div>
<div class="promotion" *ngIf="table==true">
    <ul >
        <div class="head">
            <li>Các sản phẩm được khuyến mãi lớn</li><i class="fas fa-window-close"(click)="close()"></i>
        </div>
        <li *ngFor="let p of products; let i=index">
            <div class="infor">
                <a [routerLink]="['products/'+p.product_id]"><img src={{p.product_img}} alt=""></a>
                Sản phẩm:{{p.product_name}}/Khuyến mãi:{{p.promotion_infor}} %
            </div>
        </li>
    </ul>
</div>
