*{
	padding: 0;
	margin: 0;
}
body{
	font-family: arial;
	font-size: 14px;
	color: #666;
}
#header{
	background: #FF9600;		
}
.submit{
	margin-top:10px; 
}
.btn{
	height: 25px;
    padding-top: 1px;
}
p{
	margin-top: 12px;
}

.link a{
	margin-left:70px;
	color: #392c2d;
}
.link .fas{
	margin-right: 7px;
}
#cart img{
	width: 45px;
	height: 45px;
}
#cart p{
	float: left;
	margin-right: 7px;
}
#body{
	margin-top: 15px;
}
#menu{
	background: #fbfbfb;
	border: 1px solid #ddd;
}
.menu-item{
	list-style: none;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	padding-left: 15px;
}
.menu-item a{
	color: #666;
}
.menu-item:first-child{
	background: #f5f5f5;
	text-transform: uppercase;
}
.menu-item:last-child{
	border: none;
}
.menu-item .fas{
	margin-right: 10px;
	color: #FF9600;
}
.banner-l-item{
	margin-top: 15px;
	max-width: 100%;
}
.banner-l-item img{
	border: none;
	padding: 0;
	border-radius: 0;
}
#wrap-inner{
	margin-top: 15px;
}
#khach-hang h3{
	color: #ff9600;
	margin-bottom: 15px;
}
#hoa-don h3{
	color: #ff9600;
	margin-bottom: 15px;
}
table{
	font-size: 16px;
}
table td{
	padding: 15px 5px;
}
table td.price{
	color: red;
}
table td.total-price{
	font-weight: bold;
	color: #e60000;
}
table tr.bold{
	font-weight: bold;
}
.info{
	font-weight: bold
}
p.info{
	margin-top: 20px;
}


#footer{
	margin-top: 15px;
}
#footer-t{
	background: #FF9600;
	color: #fff;
	padding: 15px 0 0 0;	
	height: 100px;	
}
.footer1{
	background: #fbfbfb;
}
.logo{
	text-align: center;

}
.logo .fas{
	color: #c1721d;
	}
.hotline{
	text-align: center;
}
.hotline h5{
	color: #c1721d;
}
.diachi{
	text-align: center;
}
.diachi h5{
	color: #c1721d;
}
.info{
	margin-top: 7px;
}
#scroll{
	/*position: absolute;*/
	top: 0;
	right: 0;
}
#scroll a img{
	float: right;
}
