<div class="spinner" *ngIf="loading==true">
    <div class="blob blob-0"></div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Sửa Voucher</h1>
    </div>
  </div><!--/.row-->
  <i style="color: red;">(*) là trường bắt buộc! </i>
  <div class="row">
    <div class="col-sm-6">
        <form #addAdminForm="ngForm" method="post">
            <div class="form-group">
              <label>Tên Voucher <i style="color: red;">(*)</i></label>
              <input type="text" name="voucher_name" class="form-control" placeholder="Tên voucher.." required [(ngModel)]="voucher_name" #vouchernamecheck='ngModel' autocomplete="off"/>
              <div class="check-error" *ngIf="vouchernamecheck.invalid&&(vouchernamecheck.touched||vouchernamecheck.dirty)">
                <span *ngIf="vouchernamecheck.errors.required">Tên voucher là trường bắt buộc!</span>
              </div>
              <span class="check-error" *ngIf="checksamev=='exists'">Voucher này đã tồn tại!</span>
            </div>
            <div class="form-group">
              <label>Điểm áp dụng <i style="color: red;">(*)</i></label>
              <input type="number" name="voucher_score" class="form-control" placeholder="Điểm áp dụng.." required [(ngModel)]="voucher_score" #voucherscorecheck='ngModel' autocomplete="off" (change)="checkvoucherscore()" (keyup)="checkvoucherscore()"/>
              <div class="check-error" *ngIf="voucherscorecheck.invalid&&(voucherscorecheck.touched||voucherscorecheck.dirty)">
                <span *ngIf="voucherscorecheck.errors.required">Điểm voucher là trường bắt buộc!</span>
              </div>
            </div>
            <div class="form-group">
              <label>Giá trị, chiết khấu: <i style="color: red;">(*)</i></label>
              <div class="row" style="margin-left:0px">
                <input type="number" name="voucher_discount" class="form-control col-lg-9" placeholder="Giá trị, chiết khấu áp dụng.." required [(ngModel)]="voucher_discount" #voucherdiscountcheck='ngModel' autocomplete="off" (change)="checkvoucherdiscount2()" (keyup)="checkvoucherdiscount()"/>
                <select name="select_discount" id="select_discount" class="form-control col-lg-3" [(ngModel)]='select_discount' (change)='changeselectdiscount()'>
                  <option value="0">Giá trị</option>
                  <option value="1">Chiết khấu</option>
                </select>
                <div class="check-error" *ngIf="voucherdiscountcheck.invalid&&(voucherdiscountcheck.touched||voucherdiscountcheck.dirty)">
                  <span *ngIf="voucherdiscountcheck.errors.required">Giá trị, chiết khấu là trường bắt buộc!</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Mức giá áp dụng <i style="color: red;">(*)</i></label>
              <input type="number" name="voucher_price" class="form-control" placeholder="Mức giá áp dụng.." required [(ngModel)]="voucher_price" #voucherpricecheck='ngModel' autocomplete="off" (change)="voucherpricescore()" (keyup)="voucherpricescore()"/>
              <div class="check-error" *ngIf="voucherpricecheck.invalid&&(voucherpricecheck.touched||voucherpricecheck.dirty)">
                <span *ngIf="voucherpricecheck.errors.required">Mức giá áp dụng là trường bắt buộc!</span>
              </div>
            </div>
            <div class="form-group">
              <label>Số lượng<i style="color: red;">(*)</i></label>
              <input type="number" name="voucher_total" class="form-control" placeholder="Số lượng ...." required [(ngModel)]="voucher_total" #vouchertotalcheck='ngModel' autocomplete="off" (change)="vouchertotalcheck()" (keyup)="vouchertotalcheck()"/>
              <div class="check-error" *ngIf="vouchertotalcheck.invalid&&(vouchertotalcheck.touched||vouchertotalcheck.dirty)">
                <span *ngIf="vouchertotalcheck.errors.required">Số lượng là trường bắt buộc!</span>
              </div>
            </div>
            <div class="form-group">
              <label>Ngày bắt đầu<i style="color: red;">(*)</i></label>
              <input type="date" name="voucher_start" class="form-control" required [(ngModel)]="voucher_start" #voucherstartcheck='ngModel' autocomplete="off" (change)='checkcorrectstartday()'/>
              <div class="check-error" *ngIf="voucherstartcheck.invalid&&(voucherstartcheck.touched||voucherstartcheck.dirty)">
                <span *ngIf="voucherstartcheck.errors.required"> Ngày bắt đầu là trường bắt buộc!</span>
              </div>
            </div>
            <div class="form-group">
              <label>Ngày kết thúc<i style="color: red;">(*)</i></label>
              <input type="date" name="voucher_end" class="form-control" required [(ngModel)]="voucher_end" #voucherstartcheck='ngModel' autocomplete="off" (change)='checkcorrectendday()'/>
              <div class="check-error" *ngIf="voucherstartcheck.invalid&&(voucherstartcheck.touched||voucherstartcheck.dirty)">
                <span *ngIf="voucherstartcheck.errors.required"> Ngày kết thúc là trường bắt buộc!</span>
              </div>
            </div>
            <div class="form-group">
              <label>Áp dụng ngay</label>
              <input style="margin-top: 20px; margin-left: 10px; width:15px; height: 15px" type="checkbox" name="voucher_apply" [(ngModel)]="voucher_apply" #voucherapplycheck='ngModel' autocomplete="off"/>
            </div>
            <input [disabled]="!addAdminForm.valid||checksameu=='exists'" type="submit" name="submit" value="Sửa" class="btn btn-primary" (click)="editVoucher()"/>
            <a style="margin-left: 10px;" class="btn btn-warning" (click)='location.back()'>Quay về</a>
        </form>
      </div>
  </div>
  