<div class="container">
    <div class="row">
        <h5>Phụ kiện</h5>
        <button class="btn btn-success btn_plus" data-toggle="modal" data-target=".bd-example-modal-lg" > <i class="fas fa-plus"></i>Thêm phụ kiện </button>
    </div>
    <div class="row">
        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr id="tbl-first-row">
                            <td>STT</td>
                            <td>Tên Phụ kiện</td>
                            <td>Hình ảnh</td>
                            <td>Xem</td>
                            <td>Sửa</td>
                            <td>Xóa</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of accessories|paginate: config; trackBy: trackByFn;let i = index">
                            <td>{{1+i+(this.config['currentPage']-1)*this.config['itemsPerPage']}}</td>
                            <td>{{a.acc_name}}</td>
                            <td> <img width="100px" src={{a.acc_img}} class="thumbnail"></td>
                            <td> <i class="fas fa-eye"></i> </td>
                            <td> <i class="fas fa-edit"></i> </td>
                            <td> <i class="fas fa-trash"></i> </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls [nextLabel]="labelnext" [previousLabel]="labelprevious" (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
    
            <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                    
                        <!-- Modal Header -->
                        <div class="modal-header">
                        <h4 class="modal-title">Thêm phụ kiện  mới</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form method="post" #addSupplierForm="ngForm" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <label>Tên phụ kiện <i style="color: red;">(*)</i></label>
                                    <input type="text"  class="form-control"    placeholder="Nhập tên phụ kiện" name="acc_name" [(ngModel)]="acc_name" required>
                                </div>
                                <div class="form-group">
                                    <label>Hình ảnh <i style="color: red;">(*)</i></label>
                                    <!-- <input type="file"  class="form-control"    name="acc_img" [(ngModel)]="acc_img" required> -->
                                    <input required id="img" type="file" #file2 name="acc_img" class="form-control d-none" onchange="" (change) = "onSelect($event)" [(ngModel)]="acc_img" #img="ngModel"><br>
                                    <img id="avatar" style="background-color: rgb(255, 255, 255);" class="thumbnail" width="300px" src="./assets/admin/img/new_seo-10-512.png" (click)="file2.click()">
                                </div>
                                <input type="submit" [disabled]="!addSupplierForm.valid" class="btn btn-success"   value="Thêm" (click)="addAccessories()">
                            </form>
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
