<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <h1 class="page-header"><i class="fas fa-mobile-alt"></i> Sản phẩm</h1>
  </div>
</div><!--/.row-->

<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="bootstrap-table">
          <div class="table-responsive">
            <div style="margin-top:10px;">
              <a [routerLink]="['../../add/'+id]" class="btn btn-primary">Thêm sản phẩm</a>
            <!-- <div class="panel panel-default"> -->
              <div class="search-container">
                <form>
                  <div class="row">
                    <input #txtKeyword class="form-control col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9" (keyup) = "search(txtKeyword.value)" name="txtKeyword" ngModel type="text" placeholder="Search..">
                    <button style="margin-left: 5px;" class="btn btn-success"><i class="fa fa-search"></i></button>
                  </div>
                </form>
              </div>
            <!-- </div> -->
            </div>
            <table class="table table-bordered" style="margin-top:20px;">
              <h6 *ngIf="products.length==0" >Không có sản phẩm cần tìm</h6>
              <thead>
                <tr class="bg-primary">
                  <th>ID</th>
                  <th>Tên Sản phẩm</th>
                  <th>Giá sản phẩm</th>
                  <th>Ảnh sản phẩm</th>
                  <th>Phụ kiện</th>
                  <th>Bảo hành</th>
                  <th>KM</th>
                  <th>Tình trạng</th>
                  <th>Miêu tả</th>
                  <!-- <th>SL</th> -->
                  <!-- <th>Nổi bật</th> -->
                  <th>Danh mục</th>
                  <th>Lịch sử giá</th>
                  <th>Tùy chọn</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let p of products; let i = index">
                  <td>{{p.product_id}}</td>
                  <td>{{p.product_name}}</td>
                  <td>{{p.product_price}}</td>
                  <td>
                    <img width="200px" src={{p.product_img}} class="thumbnail">
                  </td>
                  <td>{{p.product_accessories}}</td>
                  <td>{{p.product_warranty}}</td>
                  <td *ngIf='promotions[i]==null'>Không</td>
                  <td *ngIf='promotions[i]!=null'>{{promotions[i].promotion_infor}}%</td>
                  <td>{{p.product_condition}}</td>
                  <td><span [innerHTML]="p.product_description"></span></td>
                  <!-- <td>{{p.product_amount}}</td> -->
                  <!-- <td>{{p.product_featured}}</td> -->
                  <td>{{p.category_name}}</td>
                  <td><a [routerLink]="['#']" (click)="getHistoryPrice(p.product_id)" data-toggle="modal" data-target="#hpModal">LS Giá</a></td>
                  <td>
                    <a [routerLink]="['../../edit/'+p.product_id]" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i> Sửa</a>
                    <a [routerLink]="['#']" class="btn btn-danger" (click)='removeProduct(p)'><i class="fa fa-trash" aria-hidden="true"></i> Xóa</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div><!--/.row-->
<div class="modal fade" id="hpModal" tabindex="-1" role="dialog" aria-labelledby="hpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hpModalLabel">Lịch sử giá</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered" style="margin-top:20px;">
          <h6 *ngIf="products.length==0" >Không có sản phẩm cần tìm</h6>
          <thead>
            <tr class="bg-primary">
              <th>Mã</th>
              <th>Giá sản phẩm</th>
              <th>Ngày hiệu lực</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let h of hps; let i = index">
              <td>{{h.hp_id}}</td>
              <td>{{h.product_price}}</td>
              <td>{{h.updated_at}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
