<div class="spinner" *ngIf="loading==true">
    <div class="blob blob-0"></div>
    <div class="wait">Vui lòng chờ trong giây lát</div>
  </div>
<div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Nhập kho</h3>
      <input type="button" class="btn btn-success"  style="float: right; margin-right: 10px; margin-bottom: 10px;" value="Nhập hàng mới" data-toggle="modal" data-target="#myModal">
    </div>
</div><!--/.row-->
<div class="row">
    <!-- Phiên bản cũ -->
    <!-- <div class="col-sm-12">
        <table class="table table-striped">
            <tr id="tbl-first-row">
                <td>STT</td>
                <td>Mã SP</td>
                <td>Tên SP</td>
                <td>ĐVT</td>
                <td>Số lượng</td>
                <td>Giá nhập</td>
                <td>Thành tiền</td>
                <td>Tăng SL</td>
                <td>Update SL</td>
                <td>Update tiền</td>
                <td>Cập nhật</td>
            </tr>
            <tr *ngFor="let p of products|paginate: config; trackBy: trackByFn;let i = index">
                <td>{{1+i+(this.config['currentPage']-1)*this.config['itemsPerPage']}}</td>
                <td>{{p.prod_id}}</td>
                <td>{{p.prod_name}}</td>
                <td>Cái</td>
                <td>{{inventory[i].amount}}</td>
                <td>{{p.price}}</td>
                <td><input type="number" value="{{p.prod_price}}" name="p.prod_price" [(ngModel)] = "p.prod_price" ></td>
                <td><input type="number" min="{{inventory[i].amount}}" name="inventory[i].amount" [(ngModel)] = "inventory[i].amount" ></td>
                <td><i class="far fa-edit" style="cursor: pointer;" (click)="updateamount(inventory[i].amount,inventory[i].id)"></i></td>
                <td><i class="far fa-edit" style="cursor: pointer;" (click)="updateprice(p.prod_price,p.prod_id)"></i></td>
            </tr>
        </table>
        <pagination-controls [nextLabel]="labelnext" [previousLabel]="labelprevious" (pageChange)="pageChanged($event)"></pagination-controls>
    </div> -->

    <div class="col-sm-12">
        <table class="table table-striped">
            <tr id="tbl-first-row">
                <td>STT</td>
                <td>Mã PN</td>
                <td>Mã NV</td>
                <td>Mã Kho</td>
                <td>Mã NCC</td>
                <td>Tổng tiền</td>
                <td>Số sản phẩm</td>
                <td>Đã xuất</td>
                <td>Ngày lập phiếu</td>
                <td>Xem</td>
                <!-- <td>Sửa</td> -->
            </tr>
            <tr *ngFor="let b of ballotImports|paginate: config; let i = index">
                <td>{{1+i+(this.config['currentPage']-1)*this.config['itemsPerPage']}}</td>
                <td>{{b.bi_id}}</td>
                <td>{{b.user_id}}</td>
                <td>{{b.warehouse_id}}</td>
                <td>{{b.supplier_id}}</td>
                <td>{{b.sum_amount | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</td>
                <td>{{b.sum_product}}</td>
                <td>{{b.exported}}</td>
                <td>{{b.created_at}}</td>
                <td><button data-toggle="modal" data-target="#detailModal" (click)="getAllBDIByBIID(b.bi_id)"><i class="fas fa-eye"></i></button></td>
                <!-- <td><i class="fas fa-edit"></i></td> -->
            </tr>
        </table>
        <pagination-controls [nextLabel]="labelnext" [previousLabel]="labelprevious" (pageChange)="pageChanged($event)"></pagination-controls>
    </div>

    <!-- Thêm sản phẩm mới -->
    <div class="modal fade" id="myModal" (click)="hideoptionsproducts()" >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm sản phẩm mới vào kho</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <div id="list_product" class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9" style="padding: 0px;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 0px;">
                                <div id="search_product" class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" style="display: inline-block; vertical-align: top; padding:0px">
                                    <input #txtKeyword2 [(ngModel)]="ip_s" type="search" (keyup)="search($event, txtKeyword2.value)" (keyup)="validateName()" (keyup.arrowdown)="moveDown()" (keyup.arrowup)="moveUp()" class="form-control" id="search_input" placeholder="Tìm sản phẩm trong kho" autocomplete="off">
                                    <p *ngIf="same_product" style="color: red;">Bạn đã nhập sản phẩm này rồi!</p>
                                </div>
                                <div id="add_new_product" class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style="display: inline-block; padding-left: 5px; padding-right: 5px;">
                                    <a href="../../../admin/categories/add" target="_blank"><i id="btn-add-product" class="fas fa-plus"></i></a>
                                </div>
                                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style="display: inline-block; padding-left: 5px; padding-right: 5px;">
                                    <input #numberProductElement [(ngModel)]="amount_element" type="number" (keyup)="validateAmount()" class="form-control" placeholder="Sl.."  style="text-align:center;" (keyup.enter)="enterNumber()">
                                </div>
                                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="display: inline-block; padding: 0px;">
                                    <input #priceProductElement [(ngModel)]="price_element" type="number" (keyup)="validatePrice()" class="form-control" placeholder="Giá.."  style="text-align:center;" (keyup.enter)="enterPrice()">
                                </div>
                            </div>
                            <div id="l-p" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding: 0px;" *ngIf="show_option_product">
                                <table class="table table-image">
                                    <tr *ngFor = "let p of searched_products; let i = index" [style.background-color]="(selected_entries == i) ? 'gray' : 'white'" style="padding: 0px;" (mouseenter) ="mouseEnterSelectProduct(i)" (click)="mouseChooseProduct()">
                                        <th scope="row" width="3%">{{i+1}}</th>
                                        <td width="6%" style="padding: 2px;">
                                            <img src={{p.product_img}} class="img-fluid img-thumbnail">
                                        </td>
                                        <td>{{p.product_name}}</td>
                                      </tr>
                                </table> 
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:15px; padding: 0px;height: 26rem; overflow-y: scroll;">
                                <table class="table" *ngIf="product_selected.length!=0">
                                    <thead>
                                      <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Mã</th>
                                        <th scope="col">Hình</th>
                                        <th scope="col">Tên</th>
                                        <th scope="col">SL</th>
                                        <th scope="col">Đơn giá nhập</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let p of product_selected; let i=index;">
                                        <th scope="row" width="5%">{{i+1}}</th>
                                        <td width="5%">{{p.product.product_id}}</td>
                                        <td width="6%"><img src={{p.product.product_img}} class="img-fluid img-thumbnail"></td>
                                        <td width="44%">{{p.product.product_name}}</td>
                                        <td width="10%"><input [(ngModel)]="product_selected[i].amount" name = "product_selected[{{i}}].amount" type="number" value="{{p.amount}}" (keyup)="changeAmount(p.product.product_id)" (change)="ca(p.product.product_id)"></td>
                                        <td width="30%"><input [(ngModel)]="product_selected[i].price" name = "product_selected[{{i}}].price" type="number" value="{{p.price}}" (keyup)="changePrice(p.product.product_id)" (change)="cp(p.product.product_id)"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <div style="text-align:center" *ngIf="product_selected.length==0||product_selected.length==null"><p style="color: red;">Hãy thêm sản phẩm vào..</p></div>
                            </div>
                        </div>
                        <div id="infor" class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <form method="post" #addSupplierForm="ngForm" >
                                <div class="form-group">
                                    <label>Người lập phiếu <i style="color: red;">(*)</i></label>
                                    <input type="text" disabled class="form-control" name="user_name" [(ngModel)]="user_name">
                                </div>
                                <div class="form-group">
                                    <label>Kho <i style="color: red;">(*)</i></label>
                                    <select class="form-control form-control-sm" [(ngModel)]="selectedWH"  name="selectedWH" (change)="checkcapcity(selectedWH)" required >
                                        <option class="form-control" *ngFor="let w of warehouses" [value]="w.warehouse_id" >{{w.warehouse_name }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Nhà cung cấp <i style="color: red;">(*)</i></label>
                                    <select class="form-control form-control-sm" [(ngModel)]="selectedSP"  name="selectedSP" required >
                                        <option class="form-control" *ngFor="let s of suppliers" [value]="s.supplier_id" >{{s.supplier_name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Ngày lập<i style="color: red;">(*)</i></label>
                                    <input type="text" disabled class="form-control" name="ngaylapphieu" [(ngModel)]="ngaylapphieu" required>
                                </div>
                                <div class="form-group">
                                    <label>Tổng tiền<i style="color: red;">(*)</i></label>
                                    <input type="text" disabled class="form-control" value="{{am}}" name="am" [(ngModel)]="am" required>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" [disabled]="!addSupplierForm.valid||product_selected.length==0||product_selected.length==null" class="btn btn-success"   value="Thêm" (click)="addProductWareHouse()">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Xem chi tiết -->
    <div class="modal fade" id="detailModal" >
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chi tiết phiếu nhập</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:15px; padding: 0px;height: 26rem; overflow-y: scroll;">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã CTPN</th>
                                <th scope="col">Mã PN</th>
                                <th scope="col">Mã SP</th>
                                <th scope="col">SL</th>
                                <th scope="col">Giá</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let d of detailBallotImports; let i=index;">
                                <th scope="row" width="5%">{{i+1}}</th>
                                <td>{{d.dbi_id}}</td>
                                <td>{{d.bi_id}}</td>
                                <td>{{d.product_id}}</td>
                                <td>{{d.amount}}</td>
                                <td>{{d.price}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" [disabled]="!addSupplierForm.valid" class="btn btn-success"   value="Thêm" (click)="addProductWareHouse()">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
