<div class="spinner" *ngIf="loading==true">
    <div class="blob blob-0"></div>
    <div class="wait">Vui lòng chờ trong giây lát</div>
</div>
<div class="container">
    <div class="row">
        <h4 class="page-header col-md-12 col-lg-8 col-xl-8">Danh sách kho</h4>
        <button class=" btn-add-admin btn btn-success btn-add" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus">Thêm kho mới</i></button>
    </div><!--/.row-->
     <div class="row">
        <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr id="tbl-first-row">
                            <td>STT</td>
                            <td>Mã kho</td>
                            <td>Tên kho</td>
                            <td>ĐVT</td>
                            <td>Sức chứa</td>
                            <td>Còn lại</td>
                            <td>Địa chỉ</td>
                            <td>Xem</td>
                            <td>Sửa</td>
                            <td>Xóa</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let w of warehouse|paginate: config; trackBy: trackByFn;let i = index">
                            <td>{{1+i+(this.config['currentPage']-1)*this.config['itemsPerPage']}}</td>
                            <td>{{w.warehouse_id}}</td>
                            <td>{{w.warehouse_name}}</td>
                            <td>{{w.unit}}</td>
                            <td>{{w.capacity}}</td>
                            <td>{{w.empty}}</td>
                            <td>{{w.warehouse_address}}</td>
                            <td><button class="btn-add-admin btn btn-success" (click)="getAllP(w.warehouse_id)" data-toggle="modal" data-target=".bd-example-modal-sm"><i class="fas fa-eye">Xem</i></button></td>
                            <td><button class="btn-add-admin btn btn-success" (click)="getEditWH(w.warehouse_id)" data-toggle="modal" data-target=".bd-example-modal-sl"><i class="fas fa-edit">Sửa</i></button></td>
                            <td><i style="cursor: pointer;" class="fas fa-trash-alt" (click)="remove(w.warehouse_id)"></i></td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls [nextLabel]="labelnext" [previousLabel]="labelprevious" (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
        <div class="modal fade bd-example-modal-sl" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Sửa thông tin kho</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                       <form #editPromotionForm="ngForm" method="post">
                           <div class="form-group">
                                <label>Mã kho<i style="color: red;">(*)</i></label>
                                <input type="text" #txtkeyword class="form-control" name="wh_id"  [(ngModel)]="wh_id" required disabled >
                           </div>
                            <div class="form-group">
                                <label>Tên kho<i style="color: red;">(*)</i></label>
                                <input type="text" class="form-control" name="wh_name"  [(ngModel)]="wh_name" required >
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ<i style="color: red;">(*)</i></label>
                                <input type="text" class="form-control" name="wh_address"  [(ngModel)]="wh_address" required >
                            </div>
                            <div class="form-group">
                                <label>Sức chứa hiện tại<i style="color: red;">(*)</i></label> 
                                <input type="number" class="form-control" name="wh_capacity"[(ngModel)]="wh_capacity" required disabled>
                            </div>
                            <div class="form-group">
                                <label>Thay đổi sức chứa<i style="color: red;">(*)</i></label> 
                                <input type="number" min="{{-wh_empty}}" class="form-control" name="change_capacity" (change)="update_empty(change_capacity)" 
                                 [(ngModel)]="change_capacity" placeholder="Nhập số lượng cần thay đổi vào đây">
                            </div>
                            <div class="form-group">
                                <label>Còn lại<i style="color: red;">(*)</i></label> 
                                <input type="number" class="form-control" name="wh_empty"  [(ngModel)]="wh_empty" required disabled>
                            </div>
                            <input [disabled]="!editPromotionForm.valid" type="submit" value="Sửa" class="btn btn-success" (click)="editWH()">
                       </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="modal fade bd-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Xem hàng tồn trong kho</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <table class="table">
                            <tr id="tbl-first-row">
                                <td>STT</td>
                                <td>Mã hàng</td>
                                <td>Thành tiền</td>
                                <td>Tên hàng</td>
                                <td>Số lượng</td>
                                <td>Đơn giá</td>
                                
                            </tr>
                            <tr *ngFor="let h of ps|paginate: config; trackBy: trackByFn;let i = index">
                                <td>{{1+i+(this.config['currentPage']-1)*this.config['itemsPerPage']}}</td>
                                <td>{{h.product_id}}</td>
                                <td width="6%"><img src={{h.product_img}} class="img-fluid img-thumbnail"></td>
                                <td>{{h.product_name}}</td>
                                <td>{{h.amount}}</td>
                                <td>{{h.product_price| currency:'VND':'symbol':'1.0-0':'vi-VN'}} </td>
                            </tr>
                        </table>
                        <pagination-controls [nextLabel]="labelnext" [previousLabel]="labelprevious" (pageChange)="pageChanged($event)"></pagination-controls>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    
         <!-- The Modal -->
            <div class="modal fade bd-example-modal-lg"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-xl">
                <div class="modal-content">
                
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Thêm kho mới</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method="post" #addSupplierForm="ngForm" >
                            <div class="form-group">
                                <label>Mã kho <i style="color: red;">(*)</i></label>
                                <input type="text"  class="form-control"    placeholder="Nhập mã kho" name="warehouse_id" [(ngModel)]="warehouse_id" required>
                            </div>
                            <div class="form-group">
                                <label>Tên kho <i style="color: red;">(*)</i></label>
                                <input type="text"  class="form-control"   placeholder="Nhập tên kho" name="warehouse_name" [(ngModel)]="warehouse_name" required>
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ kho <i style="color: red;">(*)</i></label>
                                <input type="text"  class="form-control"   placeholder="Nhập địa chỉ kho " name="warehouse_address" [(ngModel)]="warehouse_address" required>
                            </div>
                            <div class="form-group">
                                <label>Sức chứa <i style="color: red;">(*)</i></label>
                                <input type="number"  class="form-control"   placeholder="Nhập sức chứa của kho" name="capacity" [(ngModel)]="capacity" required>
                            </div>
                            <input type="submit" [disabled]="!addSupplierForm.valid" class="btn btn-success"   value="Thêm" (click)="addWareHouse()">
                        </form>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
