*{
	padding: 0;
	margin: 0;
}
body{
	font-family: arial;
	font-size: 14px;
	color: #666;
	
}
#header{
	background: #FF9600;		
}
.submit{
	margin-top:10px; 
}
.btn{
	height: 25px;
    padding-top: 1px;
}
p{
	margin-top: 12px;
}

.link a{
	margin-left:70px;
	color: #392c2d;
}
.link .fas{
	margin-right: 7px;
}
#cart img{
	width: 45px;
	height: 45px;
}
#cart p{
	float: left;
	margin-right: 7px;
}
#body{
	margin-top: 15px;
	
}
#menu{
	background: #fbfbfb;
	border: 1px solid #ddd;
}
.menu-item{
	list-style: none;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	padding-left: 15px;
}
.menu-item a{
	color: #666;
}
.menu-item:first-child{
	background: #f5f5f5;
	text-transform: uppercase;
}
.menu-item:last-child{
	border: none;
}
.menu-item .fas{
	margin-right: 10px;
	color: #FF9600;
}
.banner-l-item{
	margin-top: 15px;
	max-width: 100%;
}
.banner-l-item img{
	border: none;
	padding: 0;
	border-radius: 0;
}
.products h3{
	margin-top: 15px;
	font-size: 18px;
	color: #ff9600;
	text-transform: uppercase;
}
.product-list{
	margin: 0;
}
 .sale{
	width:50px;
	position: absolute;
	background: url('../img/home/sale.png') no-repeat center;
	color: #fff;
	font-weight: bold;
	padding-right: 20px;
	left: -10px;
	top: -2px;
}
.product-item{
	border: 1px solid #ddd;
	text-align: center;
	padding: 15px;
	position: relative;	
	margin: 4px 22px 4px 42px;
}
.product-item img{
	border: none;
	padding: 0;
	border-radius: 0;
	margin-bottom: 15px;
}
.product-item img:hover{
	/*filter: brightness(80%);*/
	transform: scale(1.1);
}
.product-item a{
	color: #666;
	font-size: 15px;
}

#footer{
	margin-top: 15px;
	position: absolute;
	width: 100%;
	/*top: 100%;*/

}
#footer-t{
	background: #FF9600;
	color: #fff;
	padding: 15px 0 0 0;	
	height: 100px;	
}
.footer1{
	background: #fbfbfb;
}
.logo{
	text-align: center;

}
.logo .fas{
	color: #c1721d;
	}
.hotline{
	text-align: center;
}
.hotline h5{
	color: #c1721d;
}
.diachi{
	text-align: center;
}
.diachi h5{
	color: #c1721d;
}
.info{
	margin-top: 7px;
}
#scroll{
	/*position: absolute;*/
	top: 0;
	right: 0;
}
#scroll a img{
	float: right;
}

/* pagianation */
#pagination{
	margin: 20px;
}

.pagination>li>a{
	border-radius: 0px !important;
	color: #ff9600;
}
/* .pagination>li.active>span{
	background: #ff9600;
	border-color: #ff9600;
} */
/* end pagination */

.btn-danger {
    color: #fff;
    background-color: #ff9600;
    border-color: #fff;
    }

    .btn-danger:hover {
    color: #fff;
    background-color: #ff9600;
    border-color: #fff;
}
.sort{
	margin-top: 20px;
	padding-left: 80px;
}
.sort #m{
	margin-left: 20px;
}
.sort #f{
	margin-left: 20px;
}
.sort button{
	margin-left: 15px;
	width: 80px;
	cursor: pointer;
	background: #FF9600;
	color: white;
}
#conditons{
	height: 25px;
	margin-left: 10px;
}
#money{
	height: 25px;
	margin-left: 10px;
}
#featured{
	height: 25px;
	margin-left: 10px;
}