<footer id="footer">
  <div class="row footer1">
     <div class="container">
          <div class="row info">
              <div class="col-md-2">
                  <div class="logo">
                    <a class="navbar-brand" [routerLink]="['']"><i class="fas fa-home" aria-hidden="true"></i> <img src="./assets/t2shop.png" style="width:80px; height:50px; margin-top: 10px;"> </a>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="diachi">
                      <h5>Địa chỉ</h5>
                      <p>Tô ký-Quận 12-Thành phố Hồ Chí Minh</p>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="hotline">
                      <h5>Hotline</h5>
                      <p>0987653728</p>
                  </div>
              </div>
              <div class="col-md-4">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FT2Shop-100103625501034&tabs=timeline&width=340&height=187&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=576688693221910" width="340" height="187" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
          </div>
      </div>

      <!-- <div id="scroll">
           <a href="#"><img src="img/home/scroll.png"></a>
       </div> -->
  </div>
  </footer>
