<footer id="footer">
  <div class="row footer1">
     <div class="container">
          <div class="row info">
              <div class="col-md-4">
                  <div class="logo">
                    <a class="navbar-brand" [routerLink]="['']"><i class="fas fa-home" aria-hidden="true"></i> <img src="./assets/t2shop.png" style="width:80px; height:50px; margin-top: 10px;"> </a>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="diachi">
                      <h5>Địa chỉ</h5>
                      <p>Tô ký-Quận 12-Thành phố Hồ Chí Minh</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="hotline">
                      <h5>Hotline</h5>
                      <p>0987653728</p>
                  </div>
              </div>
          </div>
      </div>

      <!-- <div id="scroll">
           <a href="#"><img src="img/home/scroll.png"></a>
       </div> -->
  </div>
  </footer>
